.background-footer-image {
  background: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.247)),
    url("../../assets/Footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 1199px) {
  .background-footer-image {
    min-height: 50vh;
  }
}

@media (max-width: 767px) {
  .background-footer-image {
    min-height: 70vh;
    padding: 15px;
    background-attachment: scroll;
  }
}

@media (max-width: 480px) {
  .background-footer-image {
    min-height: 80vh;
    padding: 10px;
  }
}

@media (max-width: 378px) {
  .background-footer-image {
    min-height: 90vh;
    padding: 10px;
  }
}